<html>
<head>
<title> Demo Test</title>
</head>

<script>

function submit(){
    
    var one = document.getElementById('One').value;
    var two = document.getElementById('Two').value;
    var three = document.getElementById('Three').value;
	var four = document.getElementById('Four').value;
	var five = document.getElementById('Five').value;
    
    var sql = `INSERT INTO student-test VALUES ('${one}','${two}','${three}','${four}','${five}');`
    
    var submittedans = {
        "One": one,
        "Two": two,
        "Three": three,
        "Four": four,
        "Five": five,
    }
    send_message(msg)
    window.location = "C:/Users/lenovo/Downloads/WisSkill-master/WisSkill-master/app/templates/submit.html"
}
function send_message(msg){
    var request = new XMLHttpRequest;
    msg = JSON.stringify(msg)
    request.open("GET", "http://localhost:3000/teacher_requests"+"?msg="+msg, true);
    request.send(msg)
}


</script>



<body>
<hTwo> Attempt all questions</hTwo>
<p></p>

<form action="http://localhost:8080" method="POST">

<div class="form">
Question One: Which of these is a prime number? 
<br />
<input type= "radio" id="One" value= "a"> 13
<br />
<input type="radio" id="One" value="b"> 22
<br />
<input type="radio" id="One" value="c"> 25
<br />
<input type="radio" id="One" value ="d"> 30
<br />

Question Two: Which of these is a square of another number? 
<br />
<input type= "radio" id="Two" value= "a"> 13
<br />
<input type="radio" id="Two" value="b"> 22
<br />
<input type="radio" id="Two" value="c"> 25
<br />
<input type="radio" id="Two" value ="d"> 30
<br />

Question Three: Which of these is not a prime number? 
<br />
<input type= "radio" id="Three" value= "a"> 13
<br />
<input type="radio" id="Three" value="b"> 22
<br />
<input type="radio" id="Three" value="c"> 11
<br />
<input type="radio" id="Three" value ="d"> 19
<br />

Question Four: Which of these is the cube of another number? 
<br />
<input type= "radio" id="Four" value= "a"> 13
<br />
<input type="radio" id="Four" value="b"> 27
<br />
<input type="radio" id="Four" value="c"> 25
<br />
<input type="radio" id="Four" value ="d"> 30
<br />

Question Five: Which of these is not a square of another number? 
<br />
<input type= "radio" id="Five" value= "a"> 16
<br />
<input type="radio" id="Five" value="b"> 22
<br />
<input type="radio" id="Five" value="c"> 25
<br />
<input type="radio" id="Five" value ="d"> 36
<br />



<input type="submit" value="Submit" >

</form>

</body>
</html>
