<html>
<head>
<title> Demo Test</title>
</head>

<script>

var One = document.getElementById('One');
var Two = document.getElementById('Two');
var Three = document.getElementById('Three');
var Four = document.getElementById('Four');
var Five = document.getElementById('Five');

 
var mysql = require('mysql');

var con = mysql.createConnection({
  host: "localhost",
  user: "root",
  password: "G@nesha133"
});

con.connect(function(err) {
  if (err) throw err;
  )
  
  
	
  var sql = "CREATE TABLE student-test (id INT AUTO_INCREMENT PRIMARY KEY questionno VARCHAR(25Five), submittedoption VARCHAR(25Five), correctoption VARCHAR(25Five) )"; 
  con.query(sql, function(err,result){
	 if (err) throw err; 
	 
  });
  
  var sql = "INSERT INTO student-test (submittedoption) VALUES ?";
  var values  = [
	['One'];
	['Two'];
	['Three'];
	['Four'];
	['Five'];
  
  ];
  
  });
});

</script>



<body>
<h2> Attempt all questions</h2>
<p></p>

<form action="http://localhost:8080" method="POST">

<div class="form">
Question One: Which of these is a prime number? 
<br />
<input type= "radio" id="One" value= "a"> 13
<br />
<input type="radio" id="One" value="b"> 22
<br />
<input type="radio" id="One" value="c"> 25
<br />
<input type="radio" id="One" value ="d"> 30
<br />

Question Two: Which of these is a square of another number? 
<br />
<input type= "radio" id="Two" value= "a"> 13
<br />
<input type="radio" id="Two" value="b"> 22
<br />
<input type="radio" id="Two" value="c"> 25
<br />
<input type="radio" id="Two" value ="d"> 30
<br />

Question Three: Which of these is not a prime number? 
<br />
<input type= "radio" id="Three" value= "a"> 13
<br />
<input type="radio" id="Three" value="b"> 22
<br />
<input type="radio" id="Three" value="c"> 11
<br />
<input type="radio" id="Three" value ="d"> 19
<br />

Question Four: Which of these is the cube of another number? 
<br />
<input type= "radio" id="Four" value= "a"> 13
<br />
<input type="radio" id="Four" value="b"> 27
<br />
<input type="radio" id="Four" value="c"> 25
<br />
<input type="radio" id="Four" value ="d"> 30
<br />

Question Five: Which of these is not a square of another number? 
<br />
<input type= "radio" id="Five" value= "a"> 16
<br />
<input type="radio" id="Five" value="b"> 22
<br />
<input type="radio" id="Five" value="c"> 25
<br />
<input type="radio" id="Five" value ="d"> 36
<br />



<input type="submit" value="Submit" >

</form>

</body>
</html>
