<html>
<head>
<title> Demo Test</title>
</head>

<script>

function submit(){
    
	var one = document.getElementById('One').value;
    var two = document.getElementById('Two').value;
    var three = document.getElementById('Three').value;
	var four = document.getElementById('Four').value;
	var five = document.getElementById('Five').value;
    
    var insert = `INSERT INTO student-test VALUES ('${questionnumber}','${submittedans}');`
    
    var submittedans = {
        1: one,
        2: two,
        3: three,
        4: four,
        5: five,
    }
    send_message(msg)
    window.location = "C:/Users/lenovo/Downloads/WisSkill-master/WisSkill-master/app/templates/submit.html"
}
function send_message(msg){
    var request = new XMLHttpRequest;
    msg = JSON.stringify(msg)
    request.open("GET", "http://localhost:3000"+"?msg="+msg, true);
    request.send(msg)
}


</script>



<body>
<hTwo> Attempt all questions</hTwo>
<p></p>

<form action="http://127.0.0.1:5000/submittest" method="POST">

<div class="form">
{{ question_no[0] }} : {{ question[0] }} 
<br />
<input type= "radio" name = 1 id="One" value= "a"> {{ option_a[0] }}
<br />
<input type="radio" name = 1  id="One" value="b"> {{ option_b[0] }}
<br />
<input type="radio" name = 1  id="One" value="c"> {{ option_c[0] }}
<br />
<input type="radio" name = 1  id="One" value ="d"> {{ option_d[0] }}
<br />

{{ question_no[1] }} : {{ question[1] }} 
<br />
<input type= "radio" name = 2 id="Two" value= "a"> {{ option_a[1] }}
<br />
<input type="radio" name = 2 id="Two" value="b"> {{ option_b[1] }}
<br />
<input type="radio" name = 2 id="Two" value="c"> {{ option_c[1] }}
<br />
<input type="radio" name = 2 id="Two" value ="d"> {{ option_d[1] }}
<br />

{{ question_no[2] }} : {{ question[2] }}
<br />
<input type= "radio" name = 3 id="Three" value= "a"> {{ option_a[2] }}
<br />
<input type="radio" name = 3 id="Three" value="b"> {{ option_b[2] }}
<br />
<input type="radio" name = 3 id="Three" value="c"> {{ option_c[2] }}
<br />
<input type="radio" name = 3 id="Three" value ="d"> {{ option_d[2] }}
<br />

{{ question_no[3] }} : {{ question[3] }} 
<br />
<input type= "radio" name = 4 id="Four" value= "a"> {{ option_a[3] }}
<br />
<input type="radio" name = 4 id="Four" value="b"> {{ option_b[3] }}
<br />
<input type="radio" name = 4 id="Four" value="c"> {{ option_c[3] }}
<br />
<input type="radio" name = 4 id="Four" value ="d"> {{ option_d[3] }}
<br />

{{ question_no[4] }} : {{ question[4] }} 
<br />
<input type= "radio" name = 5 id="Five" value= "a"> {{ option_a[4] }}
<br />
<input type="radio" name = 5 id="Five" value="b"> {{ option_b[4] }}
<br />
<input type="radio" name = 5 id="Five" value="c"> {{ option_c[4] }}
<br />
<input type="radio" name = 5 id="Five" value ="d"> {{ option_d[4] }}
<br />



<input type="submit" value="Submit" >
<a href = "Score.html">

</form>

</body>
</html>
