<html>

<head>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/css/styles.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/css/ribbon.css">
    <title>Register</title>
</head>

<script>
window.onload = function(){
    var x = document.getElementById("all_div")
    x.style.display = "none";
    var request = new XMLHttpRequest;
    request.open("GET", "http://localhost:3000/which_login");
    request.onload = function (){
        var status = JSON.parse(this.response)
        if(status==true){
            x.style.display = "block";
            var request2 = new XMLHttpRequest;
            request2.open("GET","http://localhost:3000/retrieve_register_requests")
            request2.onload = function(){
                var requests = JSON.parse(this.response);
                var length = requests.length;
                document.getElementById("no_of_requests").innerHTML = length;
                var base = ``;
                var ul =[]
                category = ''
                for(var i=0;i<length;i++){
                    category = requests[i].category
                    string = JSON.stringify(requests[i])
                    sql = JSON.stringify(requests[i].sql_statement)
                    console.log("SQL is "+requests[i])
                    base = `Request is => ${requests[i].string}    <button onclick='addRequest(${JSON.stringify(requests[i])})'>Aprove</button>   <button onclick='deleteRequest(${JSON.stringify(requests[i])})'>Reject</button>`
                    ul.push(base);
                    delete string
                };
                for(var j=0;j<ul.length;j++){
                    //console.log(list)
                    //console.log(list[j])
                    temp = document.createElement("LI");
                    temp.innerHTML = ul[j];
                    document.getElementById("list").appendChild(temp);
                    delete temp;    
                };
                //console.log(list)
            };
            request2.send();
        }
    };
    request.send();
};

function addRequest(request_item){
    var request = new XMLHttpRequest;
    console.log(request_item)
    request.open("POST", "http://localhost:3000/add_register_request", true)
    request.setRequestHeader('Content-Type', 'application/json')
    request.send(JSON.stringify(request_item));
    console.log("Sent");
    document.location.reload(true);
};

function deleteRequest(request_item){
    var request = new XMLHttpRequest;
    console.log(request_item)
    request.open("POST", "http://localhost:3000/delete_register_request", true)
    request.setRequestHeader('Content-Type', 'application/json')
    request.send(JSON.stringify(request_item));
    console.log(`${request_item} is deleted`);
    document.location.reload(true);
};
</script>

<body>
    <div class="center"><div class="rainbow"><h1>Home</h1></div></div>
    <div class="ribbon">
        <a href="http://127.0.0.1:5000/home"><button class="ribbonbutton"><div class="whitetxt">Home</div></button></a>
        <a href="http://127.0.0.1:5000/forum"><button class="ribbonbutton"><div class="whitetxt">Forum (Doubts and Answers)</div></button></a>
        <a href="http://127.0.0.1:5000/open_test"><button class="ribbonbutton"><div class="whitetxt">Test</div></button></a>            
        <a href="http://127.0.0.1:5000/logout"><button class="ribbonbutton" onclick=""><div class="whitetxt">Log out</div></button></a>              
    </div><br><br><br><br>
    
    <br><br><br><br>

    <div id='all_div'>
        You have <b id="no_of_requests"></b> number of requests.<br>
        <ul id="list">
    
        </ul>
    </div>
        
</body>
</html>