<html>
<head>
    <link rel="stylesheet" type="text/css" href="c:/vaibhav/WisSkill/WisSkill-master/app/css/styles.css">
    <title>Test Entry</title>
</head>

<script>

function submit(){	
	
	var sql_stmt = new Array();
	var question =  document.getElementsByName('question[]');
    var option_a = document.getElementsByName('option_a[]');
	var option_b = document.getElementsByName('option_b[]');
	var option_c = document.getElementsByName('option_c[]');
	var option_d = document.getElementsByName('option_d[]');
	var correct_option = document.getElementsByName('correct_option[]');
	var question_no = new Array();
	var i;
	var max_testno;
	
	alert(question.length);
	
	var xhr = new XMLHttpRequest;
    xhr.open("GET", "http://localhost:3000/max_testno");
    xhr.onload = function (){
		max_testno = JSON.parse(this.response);
	}
	xhr.send()	
	
	alert(max_testno);
		
		for (i = 0; i < question.length; i++) {
			alert(question[i].value);
			alert(option_a[i].value);	
			
			question_no[i] = i + 1;
			alert(question_no[i]);
			
			sql_stmt[i] = `INSERT INTO TestData VALUES ('${max_testno}','${question_no[i]}','${question[i]}','${option_a[i]}','${option_b[i]}','${option_c[i]}','${option_d[i]}','${correct_option[i]}');`
			/*var testdata = {
						"question_no" : question_no[i],
						"question" : question[i],
						"option_a" : option_a[i],
						"option_b" : option_b[i],
						"option_c" : option_c[i],
						"option_d" : option_d[i],
						"correct_option" : correct_option[i]
						};*/
			var request = new XMLHttpRequest();
			//testdata = JSON.stringify(testdata);
			//sql_stmt = JSON.stringify(sqlstmt);
			request.open("GET", "http://localhost:3000/question_paper"+"?request="+sql_stmt[i], true);
			request.send();
			
		}
}	
</script>

<body>
<form action="" method="POST"> 
<h1 align="center"> Create an MCQ Test </h1>
<input type="text" id="demo" maxlength=200 value=""><br>
   <fieldset>
        <legend>Question 1</legend>
            <textarea rows=8 cols=100 maxlength=1000 name="question[]"></textarea><br>
			a): <input type="text" name="option_a[]" maxlength=200 value=""><br>
			b): <input type="text" name="option_b[]" maxlength=200 value=""><br>
			c): <input type="text" name="option_c[]" maxlength=200 value=""><br>
			d): <input type="text" name="option_d[]" maxlength=200 value=""><br>
			Correct Option : <select name="correct_option[]">
								<option value="a">a</option>
								<option value="b">b</option>
								<option value="c">c</option>
								<option value="d">d</option>
							 </select><br>
			
    </fieldset>
	<p></p>
	<fieldset>
		<legend>Question 2</legend>
            <textarea rows=8 cols=100 maxlength=1000 name="question[]"></textarea><br>
			a): <input type="text" name="option_a[]" maxlength=200 value=""><br>
			b): <input type="text" name="option_b[]" maxlength=200 value=""><br>
			c): <input type="text" name="option_c[]" maxlength=200 value=""><br>
			d): <input type="text" name="option_d[]" maxlength=200 value=""><br>
			Correct Option : <select name="correct_option[]">
								<option value="a">a</option>
								<option value="b">b</option>
								<option value="c">c</option>
								<option value="d">d</option>
							 </select><br>
    </fieldset>
</form>
<br><button onclick = submit()> Submit </button>


</body>	
</html>