<html>

<head>
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/css/styles.css">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/css/ribbon.css">
    <title>Take Test</title>
</head>

<body>
    <div class="center"><div class="rainbow"><h1>Test</h1></div></div>
    <div class="ribbon">
        <a href="http://127.0.0.1:5000/home"><button class="ribbonbutton"><div class="whitetxt">Home</div></button></a>
        <a href="http://127.0.0.1:5000/forum"><button class="ribbonbutton"><div class="whitetxt">Forum (Doubts and Answers)</div></button></a>
        <a href="http://127.0.0.1:5000/open_test"><button class="ribbonbutton"><div class="whitetxt">Test</div></button></a>            
        <a href="http://127.0.0.1:5000/logout"><button class="ribbonbutton" onclick=""><div class="whitetxt">Log out</div></button></a>              
    </div><br><br><br><br>
</body>

</html>